//-----SCSS fullscreen wrapper-----


//-----vars-----:

$background-color-1: white;
$background-color-2: black;

//-----Styles-----


//-----single block styles-----

.btn-round{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $background-color-2;
  display: flex;
  position: relative;
}

//-----nested block styles-----

.btn-round{

  .btn-round__text-popup{
    opacity: 0;
    visibility: hidden;
  }

  &.btn-round--active{
    &:hover{
      .btn-round__text-popup--active{
        opacity: 1;
        visibility: visible;
        position: absolute;
        height: 40px;
        width: 200px;
        font-size: 22px;
        text-align: center;
        justify-self: center;
        left: 6px;
        bottom: -10px;
        z-index: 30;
        transform: rotate(270deg);
        transform-origin: 0 0;
      }
    }
  }
}


//-----animations-----

