//------SCSS float-image-----


//-----vars-----

$background-color-1: white;
$background-color-2: black;

//-----Styles-----

//-----single block styles-----

.parallax{

  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;


}

//-----nested block styles-----

.parallax{

  .parallax__floater {

    position: absolute;

    //
    //-----Main page------
    //

    &.parallax__floater--main-title{
      color: white;
      mix-blend-mode: difference;
      left: 10% !important;
      top: 20% !important;
      z-index: 5;
      @media only screen and (max-width: $screen-m ){
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto;
        text-align: center;
      }
    }

    &.parallax__floater--sub-title{
      color: white;
      mix-blend-mode: difference;
      left: calc(10% + 50px) !important;
      top: calc(20% + 100px) !important;
      z-index: 5;
      @media only screen and (max-width: $screen-m ){
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto;
        text-align: center;
      }
    }

    &.parallax__floater--contact{
      left: 35% !important;
      top: 39% !important;
      z-index: 9;
      @media only screen and (max-width: $screen-m ){
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto;
      }
    }

    &.parallax__floater--danny {
      width: 15%;
      height: auto;
      left: 67% !important;
      top: 51% !important;
      z-index: 10;
      pointer-events: none;
      @media only screen and (max-width: $screen-m ){
        display: none !important;
      }
    }

    &.parallax__floater--github{
      left: 78% !important;
      top: 58% !important;
      z-index: 9;
      @media only screen and (max-width: $screen-m ){
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto;
      }
    }

    &.parallax__floater--background {
      width: 60%;
      height: 80%;
      left: 36% !important;
      top: 5% !important;
      z-index: 3;
      background-color: black;
      transform: rotateZ(5deg) !important;
    }

    &.parallax__floater--background-hider {
      width: 100%;
      height: 200px;
      left: 25% !important;
      top: 84% !important;
      z-index: 13;
      background-color: white;
      transform: rotateZ(5deg) !important;
    }

    //
    //-----Contact page------
    //
  }
}