//SCSS fullscreen wrapper


//vars:

$background-color-1: white;
$background-color-2: black;


//Styles:

//single block styles

.fs-wrapper{

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(45deg, $background-color-1 25%, $background-color-2 25%, $background-color-2 50%, $background-color-1 50%, $background-color-1 75%, $background-color-2 75%, $background-color-2 100%);
  background-size: 200px 200px;
  background-repeat: repeat;
  animation: move-background 3s linear 0s infinite;
  transition: all;
}

//nested block styles

.fs-wrapper{

  .fs-wrapper__inner-wrapper{
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    background-color: white;
    position: relative;
  }

}

//animations

@keyframes move-background {
  0%{
    background-position: 0;
  }

  100%{
    background-position: 200px;
  }
}