//-----SCSS fullscreen wrapper-----


//-----vars-----:

$background-color-1: white;
$background-color-2: black;

$main-border-size: calc(100% - 50px);


//-----Styles-----

//-----OverWrite-----

#parallax{
  pointer-events: auto !important;
}

//-----single block styles-----

.fs-wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

//-----nested block styles-----

.fs-wrapper{

  .fs-wrapper__inner-wrapper{
    width: $main-border-size;
    height: $main-border-size;
    background-color: white;
    position: relative;
    overflow: hidden;
  }

  .fs-wrapper__bg-lt{
    background-position: 100% 100%;
  }
  .fs-wrapper__bg-rt{
    background-position: 100px 100%;
  }
  .fs-wrapper__bg-rb{
    background-position: 100% 0;
  }
  .fs-wrapper__bg-lb{
    background-position: 100% 0;
  }

  &.fs-wrapper--active{

    .fs-wrapper__bg-lt{
      animation: move-background-lt 3s linear 0s infinite;
      background-image: linear-gradient(135deg, $background-color-1 25%, $background-color-2 25%, $background-color-2 50%, $background-color-1 50%, $background-color-1 75%, $background-color-2 75%, $background-color-2 100%);
    }
    .fs-wrapper__bg-rt{
      animation: move-background-rt 3s linear 0s infinite;
      background-image: linear-gradient(45deg, $background-color-1 25%, $background-color-2 25%, $background-color-2 50%, $background-color-1 50%, $background-color-1 75%, $background-color-2 75%, $background-color-2 100%);
    }
    .fs-wrapper__bg-rb{
      animation: move-background-rb 3s linear 0s infinite;
      background-image: linear-gradient(135deg, $background-color-1 25%, $background-color-2 25%, $background-color-2 50%, $background-color-1 50%, $background-color-1 75%, $background-color-2 75%, $background-color-2 100%);

    }
    .fs-wrapper__bg-lb{
      animation: move-background-lb 3s linear 0s infinite;
      background-image: linear-gradient(45deg, $background-color-1 25%, $background-color-2 25%, $background-color-2 50%, $background-color-1 50%, $background-color-1 75%, $background-color-2 75%, $background-color-2 100%);
    }
  }

  .fs-wrapper{
    position: absolute;
    width: 50%;
    height: 50%;
    background-size: 200px 200px;
    background-repeat: repeat;
    transition: all;
    overflow: hidden;
    background-color: black;

  }


  .fs-wrapper__bg-lt{
    top: 0;
    left: 0;
    background-position: 0 0;
  }

  .fs-wrapper__bg-rt{
    top: 0;
    right: 0;
    background-position: bottom right;
  }

  .fs-wrapper__bg-rb{
    bottom: 0;
    right: 0;
  }

  .fs-wrapper__bg-lb{
    bottom: 0;
    left: 0;
  }

}

//-----animations-----

@keyframes move-background-lt {
  0%{
    background-position: 100% 100%;
  }

  100%{
    background-position: calc(100% - 200px) 100%
  }
}

@keyframes move-background-rt {
  0%{
    background-position: 100px 100%;
  }

  100%{
    background-position: 300px 100%;
  }
}

@keyframes move-background-lb {
  0%{
    background-position: 100% 0;
  }

  100%{
    background-position: calc(100% - 200px) 0
  }
}

@keyframes move-background-rb {
  0%{
    background-position: 100px 0;
  }
  100%{
    background-position: 300px 0;
  }
}