//-----SCSS fullscreen wrapper-----


//-----vars-----:

$background-color-1: white;
$background-color-2: black;

$main-border-size: calc(100% - 50px);


//-----Styles-----

//-----OverWrite-----

#parallax{
  pointer-events: auto !important;
}

//-----single block styles-----

.fs-wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
}

//-----nested block styles-----

.fs-wrapper{

  .fs-wrapper__inner-wrapper{
    width: $main-border-size;
    height: $main-border-size;
    background-color: white;
    position: absolute;
    overflow: hidden;

  }


  &.fs-wrapper--active{

    .fs-wrapper__bg-lt{
      }
    .fs-wrapper__bg-rt{
      }
    .fs-wrapper__bg-rb{
      }
    .fs-wrapper__bg-lb{
     }
  }

  .fs-wrapper-looking-box__bg-lt{
    .fs-wrapper__bg-lt{
      background-image: url("../../images/black-white-lines/1.jpg");
      background-position: bottom right;
      animation: move-background-lt 3s infinite linear;
    }
  }
  .fs-wrapper-looking-box__bg-rt{
    .fs-wrapper__bg-rt{
      background-image: url("../../images/black-white-lines/2.jpg");
      background-position: bottom left;
      animation: move-background-rt 3s infinite linear;
    }
  }
  .fs-wrapper-looking-box__bg-rb{
    .fs-wrapper__bg-rb{
      background-image: url("../../images/black-white-lines/4.jpg");
      background-position: top right;
      animation: move-background-rb 3s infinite linear;
    }
  }
  .fs-wrapper-looking-box__bg-lb{
    .fs-wrapper__bg-lb{
      background-image: url("../../images/black-white-lines/3.jpg");
      background-position: top left;
      animation: move-background-lb 3s infinite linear;
    }
  }

  .fs-wrapper-looking-box{

    position: relative;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

  }

  .fs-wrapper-inner{
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    min-width: calc(100% + 400px);
    min-height: calc(100% + 400px);
  }
}

//-----animations-----

@keyframes move-background-lt {
  0%{
    transform: translateY(0) translateX(0);
  }

  100%{
    transform: translateY(0) translateX(200px);
  }
}

@keyframes move-background-rt {
  0%{
    transform: translateY(0) translateX(0);
  }

  100%{
    transform: translateY(0) translateX(-200px);
  }
}

@keyframes move-background-lb {
  0%{
    transform: translateY(0) translateX(0);
  }

  100%{
    transform: translateY(0) translateX(-200px);
  }
}

@keyframes move-background-rb {

  0%{
    transform: translateY(0) translateX(0);
  }

  100%{
    transform: translateY(0) translateX(200px);
  }
}