//-----SCSS fonts-----

//-----mixins------

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

//-----SCSS font families-----
@font-face {
  font-family: primary_font;
  src: url(../../fonts/coolvetica.ttf);
}



//-----SCSS font sizes-----
.fs-70{
  //font-size: 72px;
  letter-spacing: 2px;
  @include fluid-type($screen-s , $screen-xl, 37px , 74px);
}

.fs-60{
  //font-size: 60px;
  letter-spacing: 2px;
  @include fluid-type($screen-s , $screen-xl, 31px , 62px);
}

.fs-40{
  //font-size: 38px;
  letter-spacing: 2px;
  @include fluid-type($screen-s , $screen-xl, 20px , 40px);
}
